/* ----------Custom Properties---------- */
:root {
    --firts-color: #343434; 
    --second-color: #E9BABC;
    --black-color: #000;
    --link-color: #1259c3;
    --white-color: #fff;
    --title-color: #333;
    --black-alpha-color: rgba(0, 0, 0, 0.3); /*  */
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --font: 'Courier Prime';
    --header-height: 4rem;
    --max-width: 1200px;
}
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth; 
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    overflow-x: hidden;
    color: var(--firts-color);
}
a {
    color: var(--link-color);
    font-weight: 700;
    transition: all 0.5s ease-out;
}
a:hover {
    opacity: 0.75;
}
h1 {
    margin: 0;
    font-size: 2rem;
}
h2 {
    margin: 0;
    font-size: 1.5rem;
}
h5 {
    margin: 0;
    font-size: 0.85rem;
}
p {
    line-height: 1.6;
}
img {
    max-width: 100%;
    height: auto;
}
/* ----------Utilities---------- */
.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.btn { 
    border-radius: .5rem;
    padding: 1rem;
    display: inline-block; 
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--second-color);
}
.section {
    padding: 2rem 1rem;
}
.text-center { /* alinear texto o botones de la parte acerca de */
    text-align: center;
}
.text-left { 
    text-align: left;
}
.text-right {
    text-align: right;
}
.grey-scale { /* estilo de mi foto */
    filter:grayscale(1); 
 }
.section__title { /* titulos de las secciones */
    border-top: thin solid var(--second-color);/* linea delgada */
    border-bottom: thin solid var(--second-color);
    width: 250px;
    margin: 2rem auto;
    padding: .5rem 1rem;
    text-align: center;
    color: var(--title-color);
}
.none {
    display: none;
}
/* ----------Header---------- */
.header {
    position: fixed; 
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header-height);
    padding: 1rem;
    background-color: var(--second-color);
}
.header > .header__container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
.header__container__logo a {
    color: var(--first-color);
    font-family: var(--font-logo);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}
.header__container__menu__btn {
    outline: thin var(--firts-color); /* solid */
    border: 0;
    background-color: var(--second-color);
    cursor: pointer;
}
.header__container__menu__btn svg {
    fill: var(--first-color); 
}
.header__container__menu {
    background-color: var(--second-color);
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0; 
    transition: opacity 0.5 ease;
}
.header__container__menu.is-active {
    opacity: 1;
    pointer-events: auto;
}
.header__container__menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--firts-color);
}
.header__container__menu a:hover {
    background-color: var(--firts-color);
    color: var(--second-color);
}
/* ----------HeroImage---------- */
.hero__image {
    background-image: var(--hero-image); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: var(--hero-attachment); 
}
.hero__image--opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--hero-opacity-color);  
}
.hero__image--title {
    font-size: 7.5vw;
    color: var(--hero-title-color);
}
/* ----------Section About---------- */
.about > article { 
    margin-bottom: 2rem;
}
/* ----------Contact---------- */
.contact__card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact__card > svg path{
    width: 2rem;
    height: 2rem;
    fill: var(--firts-color);
}
.contact__card > small {
    margin-top: -1rem;
}

/* MEDIA QUERY - 768 px */
@media screen and (min-width: 768px) {
    .contact__cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }
}

/* MEDIA QUERY - 1024 px */
@media screen and (min-width: 1024px) {
    .header {
        position: sticky; 
        top: 0;
        padding: 0.5rem; 
        height: calc(var(--header-height) - 0.5rem); 
    }
    .header__container__menu__btn {
        display: none;
    }
    .header__container__menu {
        background-color: var(--second-color);
        position: static; 
        width: auto;  
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }
    .header__container__menu a {
        padding: 0 1rem;
    }
    .header__container__menu a:last-child {
        padding-right: 0;
      }
    .header__container__menu a:hover {
        background-color: transparent; 
        color: var(--firts-color);
        opacity: 0.75;
    }
    /* section about */
    .about { 
        display: grid;
        grid-template-columns: repeat(3, 30%); 
        justify-content: space-between;
        align-content: center;
    }
    .full-lg-screen { 
        width: 100%;
        min-height: 100vh;
    }
    .text-lg-center {
        text-align: center;
    }
    .text-lg-left {
        text-align: left;
    }
    .text-lg-right {
        text-align: right;
    }
    /* contact */
    .contact__cards {
        grid-template-columns: repeat(4, 24%); 
        justify-content: space-between;
    }
}
